<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.converse">

    <application
        android:allowBackup="true"
        android:icon="@drawable/circlelogoyellow"
        android:label="@string/app_name"
        android:roundIcon="@drawable/circlelogoyellow"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeTalk">
        <activity android:name="com.example.converse.SettingsActivity" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity android:name="com.example.converse.ChatActivity" />
        <activity android:name="com.example.converse.RegistrationActivity" />
        <activity android:name="com.example.converse.LoginActivity" />
        <activity android:name="com.example.converse.HomeActivity" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name="com.example.converse.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>